<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <Port>8889</Port>
    <LaunchingAppName>com.pearson.commoncore.release</LaunchingAppName>
    <Platform>iOS</Platform>
    <Host>localhost</Host>
    <DeviceName>Lab1</DeviceName>
    <UDID>xxxx</UDID>
    <Version>9.3.3</Version>
    <USBPort>8889</USBPort>
    <ShowPassImageInReport>false</ShowPassImageInReport>
</configuration>